main{
    min-height: 80vh;
}

.card {
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card img {
    height: 200px; 
    object-fit: cover; 
}